/**
 * variables
**/

// body
@bkgColor: #ffffff;

// navbar
@navbarBkgColor: #ffffff;
@navbarLinksColor: #656464;

// search area
@searchAreaBgColor: rgb(255,255,255);
@searchAreaBorderColor: rgba(255,255,255,1);
@searchAreaPadding: 0;

// search input
@searchInputWidth: 100%;
@searchInputPadding: 25px;

//section
@titleSectionFontSize : 30px;
@titleSectionColor: #fff;

/* Body */
body {
    background-color: @bkgColor;
}

input:required {
  box-shadow:none;
}
input:invalid {
  box-shadow: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #BDC3C7;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #BDC3C7;
   font-weight: bold;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #BDC3C7;
   font-weight: bold;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #BDC3C7;
}

/* Navbar */
.navbar {

    &.navbar-static-top {
      margin-bottom: 0;
    }

    &.navbar-default {

        border: none;
        background-color: @navbarBkgColor;
        .navbar-nav > li > a {
            color: @navbarLinksColor;
        }
    }

}

/* Search area */
.header-area {
  padding: @searchAreaPadding;
  background-color: @searchAreaBgColor;
  border-bottom: solid 2px @searchAreaBorderColor;
  margin-bottom: 20px;
}

/* Search form */
#searchInput {
  font-size: 40px;
  color: #BDC3C7;
  padding: 10px 0;
  border: 0;
  background: transparent;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

#searchInput:focus {
  color: #34495E;
}

.search-input-control {
  position: relative;
}

.search-input-control:before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  height: 4px;
  z-index: 100;
  background: #ECF0F1;
  width: 100%;
}
/* Section */
.title-page {
  position: relative;
}

.title-page h1 {
  font-size: @titleSectionFontSize;
  position: relative;
  color:@titleSectionColor;
  border-bottom: solid 1px @searchAreaBgColor;
  padding-bottom: 10px;
}

.user-profile-username {
  font-size: 1.5em;
}

/* Panes */
.pane-header {
  position: relative;
}

.pane-header .pane-title {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #7F8C8D;
}

/* Resource */
.list-ressources {

}

.list-ressources .list-item {
  padding: 15px;
  background: #f8f8f8;
  border-radius: 5px;
  margin-bottom: 20px;
}

.list-ressources .list-item-content a {
  display: block;
  font-size: 18px;
}

.list-item-preview img {
  display: block;
  width: 100%;
  border-radius: 5px;
}

@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}
