<div class="row">

  <div class="col-md-2">
    {{ knp_menu_render('kezaco_core.menu.home_left_menu') }}
  </div>

  <div class="col-md-8">

  </div>

  <div class="col-md-2">
    {{ knp_menu_render('kezaco_core.menu.home_left_menu') }}
  </div>

</div>
