

<section class="pane">
  <section class="pane-header">
    <h3 class="pane-title">{{ 'app.results'|trans({}, 'KezacoCoreBundle') }}</h3>
  </section>
</section>
<section class="list-ressources">
  {% for r in results %}
    {% include 'KezacoCoreBundle:Partials:_resource.html.twig' with { 'resource': r } %}
  {% else %}
    <p>{{ 'app.no_results'|trans({}, 'KezacoCoreBundle') }}</p>
  {% endfor %}
</section>
