<section class="list-item">
  <section class="row">
    <section class="col-md-2">
      <section class="list-item-preview">
        <img src="http://placehold.it/64x64" alt="" />
      </section>
    </section>
    <section class="col-md-8">
      <section class="list-item-content">
        <a href="#">{{ resource.title }}</a>
        <p class="text-muted">{{ resource.description }}</p>
      </section>
    </section>
    <section class="col-md-2">
      <section class="list-item-meta">
      </section>
    </section>
  </section>
</section>
