{% extends "::layout.html.twig" %}


{% block body_container %}

  <div class="header-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="search-form">
            {% include 'KezacoCoreBundle:Search:_search.html.twig' %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <section class="pane">
              <section class="pane-header">
                <h3 class="pane-title">{{ 'app.recents'|trans({}, 'KezacoCoreBundle') }}</h3>
              </section>
              <section class="list-ressources">
                <section class="list-item">
                  <section class="row">
                    <section class="col-md-2">
                      <section class="list-item-preview">
                        <img src="http://placehold.it/64x64" alt="" />
                      </section>
                    </section>
                    <section class="col-md-8">
                      <section class="list-item-content">
                        <a href="#">Titre de la ressource</a>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit ...</p>
                      </section>
                    </section>
                    <section class="col-md-2">
                      <section class="list-item-meta">
                      </section>
                    </section>
                  </section>
                </section>
                <section class="list-item">
                  <section class="row">
                    <section class="col-md-2">
                      <section class="list-item-preview">
                        <img src="http://placehold.it/64x64" alt="" />
                      </section>
                    </section>
                    <section class="col-md-8">
                      <section class="list-item-content">
                        <a href="#">Titre de la ressource</a>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit ...</p>
                      </section>
                    </section>
                    <section class="col-md-2">
                      <section class="list-item-meta">
                      </section>
                    </section>
                  </section>
                </section>
              </section>
            </section>
          </div>
          <div class="col-xs-12 col-md-4">
            <section class="pane">
              <section class="pane-header">
                <h3 class="pane-title">{{ 'app.popular'|trans({}, 'KezacoCoreBundle') }}</h3>
              </section>
              <section class="list-ressources">
                <section class="list-item">
                  <section class="row">
                    <section class="col-md-2">
                      <section class="list-item-preview">
                        <img src="http://placehold.it/64x64" alt="" />
                      </section>
                    </section>
                    <section class="col-md-8">
                      <section class="list-item-content">
                        <a href="#">Titre de la ressource</a>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit ...</p>
                      </section>
                    </section>
                    <section class="col-md-2">
                      <section class="list-item-meta">
                      </section>
                    </section>
                  </section>
                </section>
                <section class="list-item">
                  <section class="row">
                    <section class="col-md-2">
                      <section class="list-item-preview">
                        <img src="http://placehold.it/64x64" alt="" />
                      </section>
                    </section>
                    <section class="col-md-8">
                      <section class="list-item-content">
                        <a href="#">Titre de la ressource</a>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit ...</p>
                      </section>
                    </section>
                    <section class="col-md-2">
                      <section class="list-item-meta">
                      </section>
                    </section>
                  </section>
                </section>
                <section class="list-item">
                  <section class="row">
                    <section class="col-md-2">
                      <section class="list-item-preview">
                        <img src="http://placehold.it/64x64" alt="" />
                      </section>
                    </section>
                    <section class="col-md-8">
                      <section class="list-item-content">
                        <a href="#">Titre de la ressource</a>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit ...</p>
                      </section>
                    </section>
                    <section class="col-md-2">
                      <section class="list-item-meta">
                      </section>
                    </section>
                  </section>
                </section>
              </section>
            </section>
          </div>
          <div class="col-xs-12 col-md-4">
            <section class="pane">
              <section class="pane-header">
                <h3 class="pane-title">{{ 'app.teaching_sequence'|trans({}, 'KezacoCoreBundle') }}</h3>
              </section>
              <section class="list-ressources">
                <section class="list-item">
                  <section class="row">
                    <section class="visible-md col-md-2">
                      <section class="list-item-preview">
                        <img src="http://placehold.it/64x64" alt="" />
                      </section>
                    </section>
                    <section class="col-md-8">
                      <section class="list-item-content">
                        <a href="#">Titre de la ressource</a>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit ...</p>
                      </section>
                    </section>
                    <section class="col-md-2">
                      <section class="list-item-meta">
                      </section>
                    </section>
                  </section>
                </section>
              </section>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
