root = true

[*.html.twig]
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.js,*.yml]
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.php]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
