<form class="form searchForm" action="/" method="get">
  <div class="search-input-control">
    <input type="search" id="searchInput" name="s" placeholder="{{ 'search.search'|trans({}, 'KezacoCoreBundle') }}" required>
  </div>
</form>
