
    <form class="searchForm" action="{{ path('kezaco_index', {'search': search }) }}" method="get">
      <div class="form-group">
        <input type="search" class="form-input" id="searchInput" value="{{search}}" name="s" placeholder="{{ 'search.search'|trans({}, 'KezacoCoreBundle') }}">
      </div>
    </form>
