<form class="search-form" action="{{ path('kezaco_search') }}" method="get">
  <div class="form-group">
    <input type="search" class="form-input" value="{{search}}" name="s" placeholder="{{ 'search.search'|trans({}, 'KezacoCoreBundle') }}">
  </div>
</form>
