{% extends "::layout.html.twig" %}

{% block title %} Médiathèque {% endblock %}

{% block body_container %}

<div class="row">
  <div class="col-xs-12">
    <h3>Ma médiathèque</h3>
  </div>
</div>

{% endblock %}
