{% extends "::base.html.twig" %}

{% block body_container %}
  {% include 'KezacoCoreBundle:Partials:_navbar.html.twig'%}
  <div class="container">
    <div class="row">
      <div class="col-m-12 col-d-6 resource">
        <img class="resource-thumbnail" src="" />
      </div>
    </div>
  </div>
{% endblock %}
