<!DOCTYPE html>
<html>
  <head>
      {% block head %}
        {% block head_meta %}
          <meta charset="utf8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}
        <title>{% block head_title %}Kezaco{% endblock %}</title>
        {% block head_style %}
          {% stylesheets
            '@KezacoCoreBundle/Resources/public/css/kezaco.less'
            '@KezacoCoreBundle/Resources/public/css/style.less'
          %}
            <link href="{{ asset_url }}" rel="stylesheet" media="screen">
          {% endstylesheets %}
        {% endblock %}
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
      {% endblock %}
  </head>
  <body class="container">
      {% block body %}
        {{ block('body_container') }}
        {% block body_script %}
          {% javascripts
            '@KezacoCoreBundle/Resources/public/js/jquery.js'
            '@KezacoCoreBundle/Resources/public/js/kezaco.js'
          %}

            <script src="{{ asset_url }}"></script>
          {% endjavascripts %}
        {% endblock %}
      {% endblock %}
  </body>
</html>
